<%- include ('partials/header') %> 

        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h2 class="h1 display-4"><%= locals.quiz.title %> </h2>
            <p class="lead"><%= locals.quiz.description %></p>
            <p class="font-weight-bold">par <%= locals.quiz.author.fullname %></p>
            <p class="lead"><%= locals.quiz.questions.length %></p>
        </div>

        <%- include ('partials/tagsList', {tags: quiz.tags}) %> 
        <%- include ('partials/questionsList', {questions: quiz.questions}) %> 
        <%- include ('partials/footer') %> 

   